@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
body{
    background-image: url(../img/salmon.png);
    background-repeat: no-repeat;
    background-position: 400px 74px;
    background-size: 38%;
    background-color: black;
}
/* Header */
header{
    top: 0px;
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    z-index: 200;
    background-color: rgb(0, 0, 0);
}
.nav-scroll{
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    z-index: 200; 
    background-color: rgb(253, 253, 253);
    box-shadow: 0 1px 10px rgb(255, 102, 0);
}
#logo{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
#logo img{
    width: 55px;
    height: 55px;
}
#logo h4{
    position: relative;
    top: 19px;
    font-family: 'Ranchers', cursive;
    color: rgb(255, 102, 0);
}

/* navigation bar */

nav{
    color: rgb(255, 102, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: fit-content;
    float: right;
    position: relative;
    top: -51px;
    left: auto;
    right: 10px;
    font-size: 16pt
}

nav ul{
    list-style: none;
    display: flex;
 }
nav li{
    margin: 13px;
}
 li a{
    text-decoration: none;
    color: rgb(255, 102, 0);
    cursor: pointer;
}
li:hover{
    list-style-type: "\1F449";
}
li a:hover{
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 6px;
    transition: 0.2s linear;
}
/* ////////////////////////////////////////////////////// */


main h1{
    color: rgb(255, 102, 0);
    width: fit-content;
    position: relative;
    top: 275px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    font-size: 24pt;
    font-weight: 600;
} 

#operatingTable{
    width: 86%;
    height: 242px;
    position: relative;
    top: 325px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: unset;
    border: 3px solid rgb(255, 102, 0);
    border-radius: 3px;
}
#operatingTable th,tr,td{
    padding: 10px 0px;
    text-align: center;
    border: 1px solid rgb(255, 102, 0);
}
tr:nth-child(odd){
    background-color: rgb(253 245 245);
}
tr:nth-child(even){
    background-color: rgb(16, 240, 217);
}
th{
    font-weight: bold;
}
tr td:nth-child(2){
    color: rgb(255, 102, 0);
    font-family: 'Noto Serif', serif;
}
tr:nth-child(2) td:nth-child(3),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(5) td:nth-child(3),
tr:nth-child(6) td:nth-child(3){
    color: rgb(255, 102, 0);
    font-family: 'Noto Serif', serif;
}
tr:nth-child(4) td:nth-child(8){
    color: rgb(255, 102, 0);
    font-family: 'Noto Serif', serif;
}