@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
    background-image: url(../img/salmon.png);
    background-repeat: no-repeat;
    background-position: 400px 74px;
    background-size: 38%;
    background-color: black;
}
/* Header */
header{
    top: 0px;
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    z-index: 200;
    background-color: rgb(0, 0, 0);
}
.nav-scroll{
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    z-index: 200; 
    background-color: rgb(253, 253, 253);
    box-shadow: 0 1px 10px rgb(255, 102, 0);
}
#logo{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
#logo img{
    width: 55px;
    height: 55px;
}
#logo h4{
    position: relative;
    top: 19px;
    font-family: 'Ranchers', cursive;
    color: rgb(255, 102, 0);
}

/* navigation bar */

nav{
    color: rgb(255, 102, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: fit-content;
    float: right;
    position: relative;
    top: -51px;
    left: auto;
    right: 10px;
    font-size: 16pt
}

nav ul{
    list-style: none;
    display: flex;
 }
nav li{
    margin: 13px;
}
 li a{
    text-decoration: none;
    color: rgb(255, 102, 0);
    cursor: pointer;
}
li:hover{
    list-style-type: "\1F449";
}
li a:hover{
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 6px;
    transition: 0.2s linear;
}

/* ////////////////////////////////////////////////////////////////////// */
/* Table style */
.salesTable{
    margin: 5px;
    width: fit-content;
    padding: 5px;
    position: relative;
    top: 266px;
    margin-left: auto;
    margin-right: auto;
 }
table{
    border: 3px solid rgb(255, 102, 0);
    border-radius: 5px;
    border-collapse: unset;
    text-align: center;
    cursor: pointer;
 }
th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px; 
 }
th{
    font-size: 12pt;
    font-family: 'New Tegomin', serif;
    font-weight: 600;
 }
td{
    font-family: 'Kiwi Maru', serif;
}
#tableFooter{
    font-weight: bold;
}
td:last-child{
    font-weight: bold;
}
tr:nth-child(odd){
    background-color: rgb(253 245 245);
}
tr:nth-child(even){
    background-color: rgb(16, 240, 217);
}
tr:hover{
    background-color: rgb(255, 102, 0);
    color: #fff;
    transform: scale(1.05); 
}
td:hover{
    font-size: 16pt;
}
/* ////////////////////////////////////////////////////////////////////// */
/* Form style */
#salesForm{
    display: block;
    box-sizing: border-box;
    width: fit-content;
    position: relative;
    top: 250px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(255, 102, 0);
}
fieldset{
    border: thick double;
    border-radius: 6px;
    padding: 10px;
}
legend{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 0px 5px;
}
#lables{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
    color: #fff;
    font-weight: bold;
}
#submito{
    background-color: rgb(255, 102, 0);
    color: #fff;
    font-size: 14pt;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    left: 5px;
    width: 50px;
    height: 30px;
    font-family: 'Lobster', cursive;
}
label{
    padding-right: 5px;
}

#reset{
    position: relative;
    top: 264px;
    left: 60px;
    background-color: red;
    color: white;
    border-radius: 3px;
    font-family: 'Abril Fatface', cursive;
    font-size: 16pt;
    cursor: pointer;
}
#reset:hover{
    animation: pulse 300ms linear infinite;
}
@keyframes pulse{
    0%{background-color:red}
    100%{background-color:rgb(230, 247, 3)}
}