#mainHeader{
    font-size: 2.5rem;
    font-family: 'Ranchers', cursive;
    text-align: center;
    position: relative;
    top:20px;
    color: rgb(255, 102, 0);
}
#mainHeader img{
    width: 420px;
    height: 120px;
}
header{
    position: absolute;
    width: 100%;
    height: 35%;    
}
#logo{
    position: absolute;
    top: 9%;
    left: -35px;
    
}
#logo img{
    width: 224px;
    height: 130px;
}
body{
    background-color: black;
}