#mainHeader{
    font-size: 2.5rem;
    font-family: 'Ranchers', cursive;
    text-align: center;
    position: relative;
    left: 20px;
    right: 20px;
    top:20px;
    color: rgb(255, 102, 0);
}
#mainHeader img{
    width: 450px;
    height: 150px;
}
header{
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: black;    
}
